# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

autoload -Uz compinit && compinit

# Init Antidote
{{ if eq .chezmoi.os "linux" }}
source /usr/share/zsh-antidote/antidote.zsh
{{ else if eq .chezmoi.os "darwin" }}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
{{ end }}
export ANTIDOTE_HOME=~/.cache/antidote
antidote load

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# History options
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt SHARE_HISTORY

alias src="source ~/.zshrc"

# chezmoi
export EDITOR="code --wait"

# Mise
eval "$(mise activate zsh)"

# Go
export PATH=$PATH:$HOME/go/bin

{{ if eq .chezmoi.os "darwin" }}
# brew
alias bupdate="brew update && brew upgrade && brew upgrade --cask && brew cleanup"
{{ end }}